.topmargin{
    margin-top: 100px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.error-message{
    color: red;
    font-style: Italic;
}

/*img{
    width: 30px;
    height: 30px;
}*/

.home-page-picture {
    width: 30px;
    height: 30px;
}

.icon {
    width: 42px;
    height: 42px;
    border: 0;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border: 0;
}