<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::header">
    <title>profile</title>
</head>

<body>
<div th:replace="base::nav"></div>
<div class="text-center container">

    <div class="jumbotron lead">
        <h2 th:text="${user.firstName} +' ' +${user.lastName}"></h2>
    </div>

    <div th:if="${user.id != myuser.id}" sec:authorize="isAuthenticated()">
        <span th:if="${myuser.isFollowing(user)}">
                <a class="btn btn-danger" th:href="@{/unfollow/{id}(id=${user.id})}">Unfollow</a>
        </span>
        <span th:unless="${myuser.isFollowing(user)}">
                <a class="btn btn-success" th:href="@{/follow/{id}(id=${user.id})}">Follow</a>
        </span>
    </div>

    <div>
        <strong>
            <span th:text="${user.username}"></span>
        </strong><br/>
        <span th:text="${user.email}"></span>
        <br/>
        <br/>
        <img id="gravatar"
             th:alt="|${user.firstName}  ${user.lastName}|"
             th:src="@{'http://gravatar.com/avatar/' + ${HASH} + '?s=200'}">
    </div>
</div>

<div th:replace="base::footer"></div>
</body>
</html>